/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body {
  width: 100%;
  margin: 0 auto;
  background-color: #fff4dc;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
header {
  max-width: 100%;
  padding: 55px 20px 0 20px;
  margin: 0 auto;
  background-color: #22a7a0;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
@media (max-width: 1000px) {
  header {
    max-width: 100%;
    padding: 55px 10px -5px 10px;
  }
}
@media (max-width: 500px) {
  header {
    width: 100%;
    padding: 0;
    padding-top: 24px;
    display: flex;
    flex-direction: column;
  }
}
header .header-text {
  display: flex;
  flex-direction: column;
  background-color: #22a7a0;
}
header .header-text h1 {
  font-size: 2.8rem;
  font-weight: bold;
  color: #FFF;
  margin: 0;
}
header .header-text h2 {
  color: #FFF;
  font-size: 1.5rem;
  font-weight: 500;
  margin: 0;
  margin-bottom: 20px;
}
header nav {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 500px) {
  header nav {
    width: 100%;
    margin-bottom: 16px;
    display: flex;
    flex-direction: column;
    flex-direction: column-reverse;
  }
}
header nav a {
  margin-left: 10px;
  margin-right: 10px;
  text-decoration: none;
  color: #FFF;
}
@media (max-width: 1000px) {
  header nav a {
    margin-left: 5px;
    margin-right: 5px;
  }
}
header nav .nav-links {
  margin-bottom: -24px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
@media (max-width: 500px) {
  header nav .nav-links {
    margin-bottom: 0;
    font-size: 1.2rem;
  }
}
header nav .log-in {
  margin-bottom: -24px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
@media (max-width: 500px) {
  header nav .log-in {
    margin-bottom: 24px;
    font-weight: bold;
  }
}
header nav .log-in a:nth-child(2) {
  font-weight: bold;
  padding: 8px 16px;
  background-color: #ec5d0b;
  border-radius: 20px;
}
section h1 {
  font-size: 2.4rem;
  font-weight: bold;
  color: #005f5a;
  text-align: center;
  margin: 50px 0;
}
.meetdevs {
  max-width: 80%;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  justify-content: center;
  flex-wrap: wrap;
}
@media (max-width: 500px) {
  .meetdevs {
    max-width: 100%;
  }
}
.meetdevs img {
  width: 200px;
  height: 200px;
  margin: 24px;
  border-radius: 4px;
}
.meetdevs .devcards {
  background-color: #FFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 10px;
  padding-bottom: 10px;
}
.meetdevs .devcards h2 {
  font-size: 1.4rem;
  font-weight: bold;
  margin-bottom: 10px;
}
footer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-end;
  background-color: #22a7a0;
  color: #FFF;
  padding-top: 50px;
  padding-bottom: 25px;
}
@media (max-width: 500px) {
  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
footer a {
  text-decoration: none;
  color: #FFF;
  margin-left: 20px;
}
@media (max-width: 500px) {
  footer a {
    margin-left: 10px;
    margin-right: 10px;
  }
}
footer h1 {
  font-size: 2.8rem;
  font-weight: bold;
}
footer h2 {
  font-size: 1.5rem;
  font-weight: 500;
}
@media (max-width: 500px) {
  footer h2 {
    margin-bottom: 16px;
  }
}
