/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body {
  width: 100%;
  margin: 0 auto;
  background-color: #fff4dc;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
header {
  max-width: 100%;
  margin-top: 10px;
  padding: 55px 20px -5px 20px;
  margin: 0 auto;
  background-color: #22a7a0;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
@media (max-width: 1000px) {
  header {
    max-width: 100%;
    padding: 55px 10px -5px 10px;
  }
}
@media (max-width: 500px) {
  header {
    width: 100%;
    padding: 0;
    padding-top: 24px;
    display: flex;
    flex-direction: column;
  }
}
header .header-text {
  display: flex;
  flex-direction: column;
  background-color: #22a7a0;
}
header .header-text h1 {
  font-size: 2.8rem;
  font-weight: bold;
  color: #FFF;
  margin: 0;
}
header .header-text h2 {
  color: #FFF;
  font-size: 1.5rem;
  font-weight: 500;
  margin: 0;
  margin-bottom: 20px;
}
header nav {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 500px) {
  header nav {
    width: 100%;
    margin-bottom: 16px;
    display: flex;
    flex-direction: column;
    flex-direction: column-reverse;
  }
}
header nav a {
  margin-left: 10px;
  margin-right: 10px;
  text-decoration: none;
  color: #FFF;
}
header nav .nav-links {
  margin-bottom: -24px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
@media (max-width: 500px) {
  header nav .nav-links {
    margin-bottom: 0;
    font-size: 1.2rem;
  }
}
header nav .log-in {
  margin-bottom: -24px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
@media (max-width: 500px) {
  header nav .log-in {
    margin-bottom: 24px;
    font-weight: bold;
  }
}
header nav .log-in a:nth-child(2) {
  font-weight: bold;
  padding: 8px 16px;
  background-color: #ec5d0b;
  border-radius: 20px;
}
.body-content {
  display: flex;
  flex-direction: column;
}
.body-content section {
  padding: 64px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: #FFF;
}
@media (max-width: 500px) {
  .body-content section {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
  }
}
.body-content section .card {
  width: 450px;
  height: 250px;
  background-color: #02607c;
  border-radius: 4px;
  padding: 20px;
  padding-top: 50px;
  padding-right: 60px;
}
@media (max-width: 500px) {
  .body-content section .card {
    margin: 0 auto;
    text-align: center;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    padding-top: 50px;
    border-radius: 0;
  }
}
.body-content section .card h1 {
  font-size: 1.8rem;
}
@media (max-width: 500px) {
  .body-content section .card h1 {
    text-align: center;
  }
}
.body-content section .card h2 {
  font-size: 1.5rem;
  font-weight: 500;
}
@media (max-width: 500px) {
  .body-content section .card h2 {
    text-align: center;
  }
}
.body-content section .card p {
  margin: 20px 0;
}
@media (max-width: 500px) {
  .body-content section .card p {
    line-height: 1.2rem;
  }
}
@media (max-width: 500px) and (max-width: 500px) {
  .body-content section .card p {
    text-align: center;
  }
}
.body-content section img {
  width: inherit;
  border-radius: 4px;
}
@media (max-width: 500px) {
  .body-content section img {
    width: 100%;
    margin: 0 auto;
  }
}
.body-content section .item {
  width: 250px;
  margin-left: -50px;
  border-radius: 4px;
}
@media (max-width: 500px) {
  .body-content section .item {
    margin: 0;
    width: 80%;
    margin-top: -48px;
    margin-bottom: 20px;
  }
}
@media (max-width: 500px) {
  .body-content section .buttinstyling {
    display: flex;
    flex-direction: row;
  }
}
.body-content section button {
  margin-top: 50px;
  background-color: #ca6623;
  border-radius: 8px;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
}
@media (max-width: 500px) {
  .body-content section button {
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 16px;
  }
}
.body-content section .signinbtn {
  margin-right: 24px;
}
@media (max-width: 500px) {
  .body-content section .signinbtn {
    margin: 0;
  }
}
.body-content .green-body {
  display: flex;
  flex-direction: row-reverse;
  background-color: #22a7a0;
}
@media (max-width: 500px) {
  .body-content .green-body {
    flex-direction: column;
  }
}
.body-content .green-body .card {
  padding-left: 60px;
  padding-right: 20px;
}
@media (max-width: 500px) {
  .body-content .green-body .card {
    max-width: 100%;
    padding-top: 50px;
    padding-left: 0;
    padding-right: 0;
  }
}
.body-content .green-body .item {
  margin-right: -50px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
@media (max-width: 500px) {
  .body-content .green-body .item {
    margin-right: 0px;
    justify-content: center;
  }
}
.body-content .green-body .right-btn {
  margin-left: 280px;
}
@media (max-width: 500px) {
  .body-content .green-body .right-btn {
    margin: 0 auto;
  }
}
.body-content .hero {
  width: 100%;
  height: 75%;
  background-color: #22a7a0;
  margin-top: 0;
  padding-top: 0;
}
.body-content .hero img {
  border-radius: 0;
  width: 80%;
}
@media (max-width: 500px) {
  .body-content .hero img {
    width: 100%;
  }
}
footer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-end;
  background-color: #22a7a0;
  color: #FFF;
  padding-top: 50px;
  padding-bottom: 25px;
}
@media (max-width: 500px) {
  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
footer a {
  text-decoration: none;
  color: #FFF;
  margin-left: 20px;
}
@media (max-width: 500px) {
  footer a {
    margin-left: 10px;
    margin-right: 10px;
  }
}
footer h1 {
  font-size: 2.8rem;
  font-weight: bold;
}
footer h2 {
  font-size: 1.5rem;
  font-weight: 500;
}
@media (max-width: 500px) {
  footer h2 {
    margin-bottom: 16px;
  }
}
