/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body {
  background-color: #babdc4;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
header {
  width: 100%;
  background-color: #2193B0;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
header h1 {
  font-size: 1.8rem;
  font-weight: bold;
  padding: 5px 10px;
  margin: 10px;
  margin-left: 20px;
  background-color: #FFF;
  border-radius: 20px;
}
header nav {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
header nav a {
  text-decoration: none;
  color: #FFF;
  margin: 0 10px;
}
header nav .nav-links {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
header nav .log-in {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
header nav .log-in a:nth-child(2) {
  font-weight: bold;
  padding: 10px 20px;
  background-color: #ad2020;
  border-radius: 20px;
}
.body-content {
  display: flex;
  flex-direction: column;
}
.body-content section {
  padding: 100px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: #FFF;
}
.body-content section .card {
  width: 500px;
  height: 350px;
  background-color: #ffe0a6;
  border-radius: 8px;
  padding: 10px;
  padding-top: 50px;
  padding-right: 50px;
}
.body-content section .card h2 {
  font-size: 1.5rem;
  font-weight: 500;
}
.body-content section img {
  width: inherit;
}
.body-content section .item {
  width: 250px;
  margin-left: -50px;
}
.body-content .green-body {
  display: flex;
  flex-direction: row-reverse;
  background-color: #6dd5ed;
}
.body-content .green-body .item {
  margin-right: -50px;
}
.body-content .green-body div {
  padding-right: 10px;
  padding-left: 50px;
}
