.body-content {
    .flex-col();

    section {
        padding: 64px 0;
        .flex-row();
        align-items: center;
        justify-content: center;
        color: @white;

        .card {
            width: 450px;
            height: 250px;
            background-color: @card-bg;
            border-radius: 4px;
            padding: 20px;
            padding-top: 50px;
            padding-right: 60px; 

            h1 {
                font-size: 1.8rem;
            }

            h2 {
                font-size: 1.5rem;
                font-weight: 500;
            }

            p {
                margin: 20px 0;
            }
        }
        
        img {
            width: inherit;
            border-radius: 4px;

        }

        .item {
            width: 250px;
            margin-left: -50px;
            border-radius: 4px;
        }

        button {
            margin-top: 50px;
            background-color: @button-color;
            border-radius: 8px;
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            font-weight: bold;
        }

        .signinbtn {
            margin-right: 24px;
        }

    }

    .green-body {
        display: flex;
        flex-direction: row-reverse;
        background-color: @light-teal;

        .item {
            margin-right: -50px;
            .flex-col();
            justify-content: flex-end;


        }
        
        div {
            padding-right: 20px;
            padding-left: 60px;
        }

        .right-btn {
            margin-left: 280px;
        }

        
        
    }

    .hero{
        width: 100%;
        height: 75%;
        background-color: @light-teal;
        margin-top: 0;
        padding-top: 0;
        img {
            border-radius: 0;
            width: 80%;
        }
    }
}


