.body-content {
    .flex-col();
    

    section {
        padding: 64px 0;
        .flex-row();
        align-items: center;
        justify-content: center;
        color: @white;

        @media @mobile {
            max-width: 100%
            .flex-col();
            justify-content: center;  
            padding: 0; 
        }


        .card {
            width: 450px;
            height: 250px;
            background-color: @card-bg;
            border-radius: 4px;
            padding: 20px;
            padding-top: 50px;
            padding-right: 60px; 

            @media @mobile {
                .centerit();
                text-align: center;
                width: 100%;
                padding-left: 0;
                padding-right: 0;
                padding-top: 50px;
                border-radius: 0;

            }

            h1 {
                font-size: 1.8rem;

                @media @mobile {
                    text-align: center;
                }
            }

            h2 {
                font-size: 1.5rem;
                font-weight: 500;

                @media @mobile {
                    text-align: center;
                }
            }

            p {
                margin: 20px 0;

                @media @mobile {
                    line-height: 1.2rem;

                    @media @mobile {
                        text-align: center;
                    }
                }
                
            }
        }
        
        img {
            width: inherit;
            border-radius: 4px;

            @media @mobile {
                width: 100%;
                .centerit();
            }
        }

        .item {
            width: 250px;
            margin-left: -50px;
            border-radius: 4px;

        
            @media @mobile {
                margin: 0;
                width: 80%;
                margin-top: -48px;
                margin-bottom: 20px;
            }
        }

        .buttinstyling {

            @media @mobile {
                .flex-row();
            }

        }

        button {
            margin-top: 50px;
            background-color: @button-color;
            border-radius: 8px;
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            font-weight: bold;

                @media @mobile {
                    margin-left: 5px;
                    margin-right: 5px;
                    margin-top: 16px;
                }
                
        
        }

        .signinbtn {
            margin-right: 24px;

            @media @mobile {
                margin: 0;

            }
        }

    }

    .green-body {
        display: flex;
        flex-direction: row-reverse;
        background-color: @light-teal;

        @media @mobile {
         flex-direction: column;   
        }

        .card {
            padding-left: 60px;
            padding-right: 20px;
            
            @media @mobile {
                max-width: 100%;
                padding-top: 50px;
                padding-left: 0;
                padding-right: 0;
            }
        }

        .item {
            margin-right: -50px;
            .flex-col();
            justify-content: flex-end;

            @media @mobile {
                margin-right: 0px;
                justify-content: center;
            }

        }

        .right-btn {
            margin-left: 280px;

            @media @mobile {
                margin: 0 auto;
            }
        }

        
        
    }


    .hero{
        width: 100%;
        height: 75%;
        background-color: @light-teal;
        margin-top: 0;
        padding-top: 0;
        
        img {
            border-radius: 0;
            width: 80%;

            @media @mobile {
                width: 100%;
            }
        }
    }

}
