// Color assignments

// Colors

@dark-teal: #005f5a;
@light-teal: #22a7a0;
@background: #fff4dc;
@white: #FFF;
@signup-button: #ec5d0b;
@card-bg: #02607c;
@button-color: #ca6623;

// Media
@mobile: ~"(max-width: 500px)";

@desktop: ~"(max-width: 1000px)";

// Common things

.flex-row() {
    display: flex;
    flex-direction: row;
}

.flex-col() {
    display: flex; 
    flex-direction: column;
}

.centerit() {
    margin: 0 auto;
}

.no-decor() {
    text-decoration: none;
}